<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond $1 !^(index\.php|robots\.txt|dev\.php|humans\.txt|uploads\/(.+?)\.(pdf|PDF)|(assets)\/(.+?)\.(ttf|svg|woff|eot|jpg|png|gif|jpeg|svg|css|js|html))
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>