{#
    
/**
 *   XtractPDF - A PDF Content Extraction and Curation Tool
 *
 *   This program is free software under the GNU General Public License (v2)
 *   See LICENSE.md for a complete copy of the license
 *
 * @package     XtractPDF
 * @author      Florida State University iDigInfo (http://idiginfo.org)
 * @copyright   Copyright (C) 2013 Florida State University (http://fsu.edu)
 * @license     http://www.gnu.org/licenses/gpl-2.0.txt
 * @link        http://idiginfo.org
 */

// ------------------------------------------------------------------

#}
{% extends 'base.html.twig' %}


{% block page_content %}
<div class='container'>
<div class='row'>
<div class='span12'>
{% block about_content %} 

    {# Sample Content - Delete me #}
    <h2>About XtractPDF</h2>
    <p>
        XtractPDF is a tool for getting information out of PDF articles and curating it.  It automatically
        attempts to extract and classify content into structured data, but also provides a handy interface
        for humans to clean-up and perfect the data.  Documents can then be exported to 
        <a href='http://dtd.nlm.nih.gov/' title='Journal Archiving Tag Suite'>JATS-XML</a>.
    </p>

    <p>
        XtractPDF currently acts as a client to <a href='http://pdfx.cs.man.ac.uk/' title='PDFX Homepage'>PDFX</a>
        for automatic conversion, but can be extended to support other libraries and APIs.
    </p>

    <h3>Technologies</h3>

    <p>XtractPDF is built entirely on open source technologies (with the exception of PDFX):

    <ul>
        <li>PHP Silex Framework</li>
        <li>Monolog</li>
        <li>Guzzle</li>
        <li>MongoDB &amp; Doctrine ODM</li>
        <li>Jquery</li>
        <li>KnockoutJS</li>
        <li>PDFX</li>
        <li>Jquery Autosize</li>
        <li>Jquery Form</li>
        <li>Prettify</li>
        <li>Twitter Bootstrap</li>
        <li>Fontawesome</li>
    </ul>

    <h3>Author</h3>

    <p>
        XtractPDF was written by <a href='http://caseymclaughlin.com' title='Casey Homepage'>Casey McLaughlin</a>
        at the <a href='http://idiginfo.org' title='FSU iDigInfo'>iDigInfo Institute</a> at 
        <a href='http://fsu.edu' title='FSU Homepage'>Florida State University</a> for work on projects related to the 
        <a href='http://pdfjailbreak.com' title='Jailbreaking Homepage'>Jailbreaking the PDF</a> collaboration.
    </p>

{% endblock %}
</div>
</div>
</div>        
{% endblock %}