{% extends 'base.html.twig' %}
{% block page_header_content %}
    <p>Test Header Content</p>
{% endblock %}

{% block page_content %}
<div class='container'>
    <div class='row'>
        <div class='span12' id='library-browser'>
            <h2>Documents</h2>
        </div>
    </div>
</div>
{% endblock %}