{% extends 'base.html.twig' %}

{% block page_js %}
<script>
    doclist_url = '{{ url('library') }}';
</script>
<script src='{{ base_url }}/assets/library-index.js'></script>
{% endblock %}


{% block page_topbar_content %}
    <form id='upload-pdf' method='post' enctype='multipart/form-data' action='{{ url('library_upload') }}'>
        <input type='file' name='pdffile' />
        <button type='button' class='btn btn-primary upload-pdf-submit' class='btn btn-primary'>
            <i class='icon-upload-alt'></i>
            <span>Upload PDF</span>
        </button>
    </form>
{% endblock %}

{% block page_content %}
<div class='container'>
    <div class='row'>
        <div class='span12' id='library-browser'>

            <div id='notices'></div>

            <h2>Documents</h2>
            <p class='pull-right'>
                <span class="badge badge-inverse" data-bind='text: docList().length'></span> Documents
            </p>

            <table class='table' data-bind='if: docList().length > 0' id='doclist-table'>
                <thead>
                    <tr>
                        <th class='doc-id-col'>ID</th>
                        <th class='doc-title-col'>Title</th>
                        <th class='doc-uploaded-col'>Uploaded</th>
                        <th class='doc-modified-col'>Modified</th>
                        <th class='doc-done-col'>Done?</th>
                        <th class='actions-col'></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: docList">
                    <tr data-bind='if: $index() % 25 == 0' class='info'><td colspan='6'></td><tr>
                    <tr data-bind='css: { success: highlight }'>
                        <td class='doc-id-col'>
                            <span data-bind='text: dispId, attr: { title: id }'></span>
                            <span data-bind='if: highlight' class='badge badge-success'>New</span>
                        </td>
                        <td class='doc-title-col'><span data-bind='text: title'></span></td>
                        <td class='doc-uploaded-col'><span data-bind='text: uploaded'></span></td>
                        <td class='doc-modified-col'><span data-bind='text: modified'></span></td>
                        <td class='doc-done-col'>
                            <span data-bind='if: isDone' class='badge badge-success'><i class='icon-check'></i></span>
                            <span data-bind='if: !isDone' class='badge'><i class='icon-check-empty'></i></span>
                        </td>
                        <td class='actions-col'><a class='btn' data-bind='attr: { href: url }'>Edit</a></td>
                    </tr>
                </tbody>
            </table>

            <div data-bind='if: docList().length == 0'>
            <div class="hero-unit">
                <p>There are no documents in the system yet.</p>
                <p>
                    <button class="upload-pdf-submit btn btn-primary btn-large">
                        <i class='icon-upload-alt'></i>
                        <span>Upload a PDF</span>
                    </button>
                </p>
            </div>
            </div>
        </div>
    </div>
</div>

<div id='main-loading'>
    <div id="main-loading-spinner">
        <span>Loading</span>
        <i class='icon-spinner icon-spin'></i>
    </div>
</div>
{% endblock %}