{% extends 'base.html.twig' %}

{% block page_js %}
<script src='{{ base_url }}/assets/vendor/knockout-sortable.min.js'></script>
<script src='{{ base_url }}/assets/library-single.js'></script>
{% endblock %}

{% block page_topbar_content %}
    <div id='doc-actions'>
        <button class='btn btn-mini'><i class='icon-check-empty'></i> Mark Complete</button>
        <button class='btn btn-mini'><i class='icon-save'></i> Save</button>
        <a href='#' class='btn btn-mini'><i class='icon-download-alt'></i> Export as JATs</a>
    </div>
{% endblock %}

{% block page_content %}
<div id='single-doc-editor'>
    <div class='pane' id='left-pdfview'>
        
        {# Temporary - for testing #}
        <iframe id='left-pdfview-iframe' src='{{ url('viewpdf', { id: doc.uniqId }) }}'></iframe>

    </div>

    <div class='pane' id='right-workform'>
        <div class='workform-container' data-docurl='{{ docUrl }}' id='workform'>
        <fieldset>
            <legend>Bibliographic Metadata</legend>
            <ul class='form-rows' data-bind='foreach: biblioMeta'>
                <li class='form-row'>
                    <label>
                        <span class='input-label' data-bind='text: disp'></span>
                        <span class='input-item'>
                            <input type='text' data-bind='value: value, attr: { placeholder: placeholder }' />
                        </span>
                    </label>
                </li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Authors <span class='fieldset-actions'><i data-bind='click: addAuthor' class='icon-plus-sign'></i></span></legend>
            <ul class='form-rows' data-bind='sortable: { data: authors, hande: ".icon-move"}'>
                <li class='form-row'>
                    <span class='input-label'>Author <strong data-bind='text: $index() + 1'></strong></span>
                    <span class='input-item'>
                        <input type='text' data-bind='value: name' placeholder='Smith, J.E.' />
                    </span>

                    <span class='input-actions'>
                        <i class='icon-move'></i>
                        <i data-bind='event: { dblclick: $root.removeItem.bind($data, $root.authors) }' class='icon-remove'></i>  
                        <i data-bind='click: $root.addAuthor.bind($data, $index())' class='icon-plus-sign'></i>
                    </span>                    
                </li>
            </ul>
        </fieldset>  

        <fieldset>
            <legend>Abstract <span class='fieldset-actions'><i data-bind='click: addAbstractSection' class='icon-plus-sign'></i></span></legend>
            <ul class='form-rows' data-bind='sortable: {data: abstract, handle: ".icon-move"}'>
                <li class='form-row'>
                    <span class='input-label'>
                        <select data-bind="options: $root.availSecTypes, optionsValue: 'type', optionsText: 'dispName', value: type"></select>
                    </span>
                    <span class='input-item'>
                        <textarea data-bind='value: content' placeholder='Header or Section Content'></textarea>
                    </span>

                    <span class='input-actions'>
                        <i class='icon-move'></i>
                        <i data-bind='event: { dblclick: $root.removeItem.bind($data, $root.abstract) }' class='icon-remove'></i>  
                        <i data-bind='click: $root.addAbstractSection.bind($data, $index())' class='icon-plus-sign'></i>
                    </span>                    
                </li>
            </ul>
        </fieldset>        

        <fieldset>
            <legend>Content <span class='fieldset-actions'><i data-bind='click: addContentSection' class='icon-plus-sign'></i></span></legend>
            <ul class='form-rows' data-bind='sortable: {data: content, handle: ".icon-move"}'>
                <li class='form-row'>
                    <span class='input-label'>
                        <select data-bind="options: $root.availSecTypes, optionsValue: 'type', optionsText: 'dispName', value: type"></select>
                    </span>
                    <span class='input-item'>
                        <textarea data-bind='value: content' placeholder='Header or Section Content'></textarea>
                    </span>

                    <span class='input-actions'>
                        <i class='icon-move'></i>
                        <i data-bind='event: { dblclick: $root.removeItem.bind($data, $root.content) }' class='icon-remove'></i>  
                        <i data-bind='click: $root.addContentSection.bind($data, $index())' class='icon-plus-sign'></i>
                    </span>                    
                </li>
            </ul>
        </fieldset>    

        <fieldset>
            <legend>Citations <span class='fieldset-actions'><i data-bind='click: addCitation' class='icon-plus-sign'></i></span></legend>
            <ul class='form-rows' data-bind='sortable: {data: citations, handle: ".icon-move"}'>
                <li class='form-row'>
                    <span class='input-label'>Citation <strong data-bind='text: $index() + 1'></strong></span>
                    <span class='input-item'>
                        <textarea data-bind='value: content' placeholder='e.g. Author, N. Title of Document (2010), Some Journal, Some Publisher'></textarea>
                    </span>

                    <span class='input-actions'>
                        <i class='icon-move'></i>
                        <i data-bind='event: { dblclick: $root.removeItem.bind($data, $root.citations) }' class='icon-remove'></i>  
                        <i data-bind='click: $root.addCitation.bind($data, $index())' class='icon-plus-sign'></i>
                    </span>                    
                </li>
            </ul>
        </fieldset>

        </div>
    </div>
</div>
{% endblock %}