#
# XtractPDF Configuration
#

#Set to true for deployed instances
deployed: false

#Uploads path (relative to application basepath, or with a preceding slash)
uploads: uploads

#Logpath Destination
logpath: logs