#
# XtractPDF Configuration
#

#Uploads path (relative to application basepath, or with a preceding slash)
uploads: uploads

#Deploy Mode [private, demo]
deploymode: private

#Logpath Destination
logpath: logs

# Mongo Database Settings
mongodb: 
    connstring: mongodb://localhost:27017
    dbname:     xtractpdf