/* Body ---------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body.workspace {
    background-color: #F5F5F5;
}

/* Header and Page Content --------------------------------------- */

#main-header {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 80px;
    overflow: hidden;
    background-color: #D4D4D4;
}

#page_content {
    position: relative;
    margin: 0;
    padding: 0;
}

/* Header Styles ------------------------------------------------- */

#main-header #header-left,
#main-header #header-right {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
}

#main-header .header-content {
    padding: 5px 10px;
    margin: 0;
}

#main-header h1#main-title {
    font-size: 24px;
    float: left;
}

#main-header ul#main-nav {
    float: left;
}

/* Workspace ------------------------------------------------- */

/* EOF: main.css */