/* Body ---------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Header and Page Content --------------------------------------- */

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 52px;
    overflow: visible;
    background-color: #252525;
    box-shadow: 2px 0px 4px rgba(0,0,0,0.5);
    z-index: 2;
}

#page_content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 52px 0 0 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
}

body.workspace #page_content {
    overflow-y: hidden;
    background-color: #F1F1F1;
}

#page_content #main-loading-spinner {
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    padding: 25px 10px 10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
    color: #fff;
    background-color: rgba(30, 30, 30, 0.75);
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
}

#page_content #main-loading-spinner *[class^="icon-"] {
    font-size: 70px;
}

/* Header Styles ------------------------------------------------- */

#main-header {
    color: #fff;
}

#main-header #header-left,
#main-header #header-right {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
}

#main-header .header-content {
    padding: 5px 20px;
    margin: 0;
}

#main-header h1#main-title {
    font-size: 1.4em;
    float: left;
    margin: 0;
}

#main-header #main-nav {
    float: left;
    margin-left: 2em;
    margin-top: 3px;
    font-size: 0.9em;
}


#main-header #main-nav a {
    color: #fff;
}

#main-header #main-nav a:hover {
    color: #000;
}

#main-header .popover {
    color: #000;
}

/* LIBRARY BROWSER: Layout ----------------------------------------- */

#library-browser {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#library-browser #doclist-table .doc-title-col {
    max-width: 355px;
}

#library-browser #doclist-table .doc-done-col {
    text-align: center;
}

#main-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.75);
}


/* LIBRARY BROWSER: Actions in Header ------------------------------ */

#upload-pdf {
    margin-top: 6px;
}

#upload-pdf input[type=file] {
    display: none;
}

#upload-pdf #upload_options_toggle {
    display: inline-block;
    padding: 4px;
    cursor: pointer;
}

#upload-pdf label {
    display: inline-block;
    margin: 0 5px 0 15px;
}

#upload-pdf select.pdfbuilder {
    margin: 0;
    background-color: transparent;
    color: #fff;
    border: none;
    box-shadow: none;
    padding: 0 6px;
    background-color: #454545;
    font-weight: bold;
    width: 85px;
}

/* SINGLE DOC EDITOR: Layout --------------------------------------- */

#single-doc-editor {
    height: 100%;
}

#single-doc-editor .pane {
    margin: 0;
    padding: 0;
    float: left;
    height: 100%;
    width: 50%;
}

#single-doc-editor #left-pdfview.pane {
    background-color: #999;
}

#single-doc-editor #left-pdfview.pane iframe {
    width: 100%;
    height: 100%;
    border-right: 1px solid #111;
}

#single-doc-editor #right-workform.pane {
    overflow-y: scroll;
    overflow-x: hidden;
} 

/* SINGLE DOC EDITOR: Actions in Header -------------------------- */

#doc-actions {
    float: right;
    margin-top: 10px;
}

#doc-actions a, 
#doc-actions button {
    display: inline-block;
    margin-left: 10px;
}

#doc-actions a:first-child,
#doc-actions button:first-child {
    margin-left: 0;
}

/* SINGLE DOC EDITOR: Form --------------------------------------- */

/* Container */
#single-doc-editor #right-workform.pane .workform-container {
    margin-left: 4px;
}

/* Legend Rows */
#single-doc-editor #right-workform.pane legend {
    margin-bottom: 0;
    font-size: 1em;
    padding-left: 4px;
    border-bottom: 1px solid #CCC;
    background-color: #e4e4e4;
    color: #666;
    font-family: monospace;
    font-weight: bold;
    line-height: 2em;
    position: relative;
}

/* List styles */
#single-doc-editor #right-workform.pane  ul.form-rows {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#single-doc-editor #right-workform.pane li.form-row {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #CCC;
    position: relative;
    background-color: #FFF;
}

#single-doc-editor #right-workform.pane li.form-row.change-pending,
#single-doc-editor #right-workform.pane li.form-row.change-pending .input-item input,
#single-doc-editor #right-workform.pane li.form-row.change-pending .input-item textarea {
    background-color: #f5fafd;
}

/* Label tag as block */
#single-doc-editor #right-workform.pane li.form-row label {
    display: block;
    margin: 0;
    padding: 0;
}

/* Actual Label CSS */
#single-doc-editor #right-workform.pane li.form-row .input-label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 110px;
    font-size: 0.9em;
    font-family: monospace;
    color: #888;
    margin: 0;
    z-index: 1;
    cursor: text;
    padding: .25em 0 .25em 4px;
}

#single-doc-editor #right-workform.pane li.form-row .input-label strong {
    font-weight: normal;
}

#single-doc-editor #right-workform.pane li.form-row .input-label select {
    width: 104px;
    font-family: monospace;
    color: #888;
    padding: 0;
    border: none;            
}

#single-doc-editor #right-workform.pane li.form-row .input-label select:focus {
    border: none;
}

#single-doc-editor #right-workform.pane li.form-row .input-label select option {
    font-family: monospace;
    color: #111;        
}

/* Input Items */
#single-doc-editor #right-workform.pane li.form-row .input-item {
    display: block;
    z-index: 2;
    margin: 0;
    padding: 0 0 0 114px;
}

#single-doc-editor #right-workform.pane li.form-row .input-item input,
#single-doc-editor #right-workform.pane li.form-row .input-item select,
#single-doc-editor #right-workform.pane li.form-row .input-item textarea {
    width: 100%;
    margin: 0;
    padding: .25em 0;
    border: none;
    border-radius: 0;
    z-index: 3;
    outline: none;
    box-shadow: none;
}

#single-doc-editor #right-workform.pane li.form-row .input-item textarea {
    resize: vertical;
    overflow-y: hidden;
}

#single-doc-editor #right-workform.pane li.form-row .input-item input:focus,
#single-doc-editor #right-workform.pane li.form-row .input-item select:focus,
#single-doc-editor #right-workform.pane li.form-row .input-item textarea:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Action Items */
#single-doc-editor #right-workform.pane li.form-row .input-actions,
#single-doc-editor #right-workform.pane legend .fieldset-actions {
    z-index: 5;
    display: none;
    position: absolute;
    right: 4px;
    top: 2px;
    background-color: rgba(241, 241, 241, 0.75);
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    padding: 0 4px;
}

#single-doc-editor #right-workform.pane legend .fieldset-actions {
    background-color: transparent;
    border: none;
    padding: 0 10px 0 0;
    color: #111;
    top: 0;
}

#single-doc-editor #right-workform.pane li.form-row:hover .input-actions,
#single-doc-editor #right-workform.pane li.form-row:focus .input-actions,
#single-doc-editor #right-workform.pane legend:hover .fieldset-actions,
#single-doc-editor #right-workform.pane legend:focus .fieldset-actions {
    display: block;
}

#single-doc-editor #right-workform.pane li.form-row:hover .input-actions *[class^="icon-"],
#single-doc-editor #right-workform.pane legend .fieldset-actions *[class^="icon-"] {
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
}

#single-doc-editor #right-workform.pane li.form-row:hover .input-actions *[class^="icon-"]:hover,
#single-doc-editor #right-workform.pane legend .fieldset-actions *[class^="icon-"]:hover {
    color: red;
}

/* EOF: main.css */