/* Body ------------------------------------------------------------ */

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body.maininterface {
    overflow: hidden;
}

/* Basic Layout Sections ------------------------------------------- */

#top {
    position: absolute;
    background-color: #F1F1F1;
    padding: 8px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#main {
    position: relative;
}

body.maininterface #main {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* Top Section ----------------------------------------------------- */

#top #main-header {
    text-align: center;
    margin-right: 0.5em;
}

#top #main-header h1 {
    font-size: 1.3em;
    line-height: 1.35em;
    margin: 1px;
}

#top h3.noscript {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.15em;
}

#top form#pdf-upload {
    margin: 0 auto 0.5em 0;
    display: none;
}

#top #settings-toggle {
    display: none;
}

#top form#pdf-upload label {
    display: none;
}

#top form#pdf-upload input[type=file] {
    font-size: 1.1em;
    color: #FFF;
    padding: 0;
    width: 160px;
    overflow: hidden;
}

#top form#pdf-upload label.btn {
    width: 162px;
    overflow: hidden;
    margin: 0 auto;
}

#top .pagelinks {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

#top .pagelinks > li {
    display: inline;
    margin: 0 5px 0 0;
}

#top .pagelinks > li a:hover {
    text-decoration: none;
}


#top .ads {
    margin: 0;
    text-align: center;
}

#top .ads > * {
    margin: 0.5em;
}

/* Main Preview Panel -------------------------------------------- */

#main > .pane {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    height: 100%;
}

#main > .pane .placeholder {
    display: block;
    margin: 25% 0 0 25%;
    width: 50%;
    text-align: center;
    position: relative;
    background-color: #FFF;
    border: 4px solid #111;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 2em 0;

}

#main > .pane .placeholder .patience {
    display: block;
    margin-top: 0.3em;
    font-style: italic;
    font-size: 0.9em;
}


#main > .fullpane {
    padding-top: 2em;
}

#main > .pane .placeholder.error {
    padding: 0 0 0 0.5em;
}

#main > .pane .placeholder.error h2 {
    font-size: 1.2em;
    line-height: 1.25em;
    color: #990000;
}

#main > .pane .placeholder.error ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#main > .pane .placeholder.error ul > li {
    text-align: center;
}

#left.pane {
    background-color: #C1C1C1;
}

#right.pane {
    background-color: #FFF;
}

#left.pane .placeholder {
    background-color: #FFF;
    border-color: #FFF;
}

#right.pane .placeholder {
    background-color: #C1C1C1;
    border-color: #C1C1C1;
}

#left.pane > iframe {
    width: 100%;
    height: 100%;
}

#right.pane > textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
}

/* Widgets ------------------------------------------------------- */

.dummyad {
    width: 125px;
    height: 125px;
    float: right;
    margin: 0 0.5em;
}

.dummyad > img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.underline {
    margin-top: 2em;
    margin-bottom: 0.25em;
    border-bottom: 1px solid #BBB;
}

.table > tbody > tr:first-child > * {
    border-top: none;
}

/* About Modal --------------------------------------------------- */

.modal-header h3 a.breakout {
    line-height: 1em;
    font-size: 0.6em;
    vertical-align: middle;
}

@media (min-width: 1200px) { 
    .modal.fw {
        width: 1100px;
        margin-left: -620px;
    }
 }
 
@media (min-width: 980px) and (max-width: 1199px) { 
    .modal.fw {
        width: 970px;
        margin-left: -490px;
    }
 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .modal.fw {
        width: 760px;
        margin-left: -380px;
    }
 }
 
/* Landscape phone to portrait tablet */
/* @media (min-width: 481px) and (max-width: 767px) { /* ...  } */
 
/* Landscape phones and down */
@media (max-width: 767px) { 
    .modal.fw {
        width: 460px;
        margin-left: auto;
        margin-right: auto;
        /*margin-left: -230px;*/
    }
 }

