<p>
    XtractPDF is a simple tool and web services API for getting text data from PDF files.
</p>

<h4>Is there a Charge?</h4>

<p>
    No. XtractPDF is free to use, and the libraries that power it are all available as open-source packages.
</p>

<h4>Are PDFs Stored on the Sever?</h4>

<p>
    <strong>Absolutely Not!</strong>  PDFs are deleted as soon as they are previewed in the browser after
    conversion.  In the event that a PDF is not deleted immediately, a cleanup script deletes it after 
    five minutes.
</p>

<h4>Is there an API?</h4>

<p>
    Yes! You can use XtractPDF programmatically, as long as you don't abuse the service.
    <a href='{{ url('apidocs') }}' title='API Documentation'>Read the documentation</a>
</p>

<h4>Who Developed This?</h4>

<p>
    Thanks for asking!  XtractPDF was developed by 
    <a href='http://caseymclaughlin.com' title="Casey's Website">Casey McLaughlin</a>
</p>

<h4>What is it built with?</h4>

<p>XtractPDF is powered by a number of open source libraries:

<ul>
    <li><a href='http://www.unixuser.org/~euske/python/pdfminer/' title='PDFMiner Homepage'>PDFMiner</a></li>
    <li><a href='http://poppler.freedesktop.org/' title='Poppler PDF Homepage'>Poppler PDF Tools</Pop></li>
    <li><a href='http://twitter.github.io/bootstrap' title='Twitter Bootstrap'>Bootstrap</a></li>
    <li><a href='http://silex.sensiolabs.org/' title='Silex'>Silex</a></li>
</ul>