{% extends 'base.html.twig' %}

{% block page_top_content %}
<h3 class='noscript text-error' title='Try another web browser&hellip;'>XtractPDF requires JavaScript</h3>

<form id='pdf-upload' action='{{ url('extract') }}' method='post' enctype="multipart/form-data">
    <span class='upload-button'>
        <label for='pdffile-input'>Convert PDF to Text</label>
        <input type='file' name='pdffile' id='pdffile-input' />
        <button type='submit'>Convert</button>
    </span>
</form>             

{% endblock %}
    
{% block page_content %}
<div id='main' class='preview'>
    <div id='left' class='pane'>
        <p class='placeholder'>PDF will Appear Here</p>
    </div>


    <div id='right' class='pane'>
        {% include 'workspace.html.twig' %}
        {# <p class='placeholder'>Workspace will Appear Here</p> #}
    </div>
</div>

{% endblock %}